<div>
  <div class="accounts">
    <div class="account-balance">
      <span>Account Balance: {{ accountBalance | currency }}</span>
    </div>
  </div>
  <div *ngFor="let period of payPeriods" class="pay-period">
    <div class="date-range">
      <span>{{period.startDate | date:'shortDate'}}</span>
      &nbsp;
      <span>{{period.endDate | date:'shortDate'}}</span>
    </div>
    <div class="line-items">
      <div class="line-item incoming">
        <p>Incomes</p>
        <div class="income" *ngFor="let income of incomes">
          <span>{{ income.getValue() | currency }}</span>
        </div>
      </div>
      <div class="line-item outgoing">
        <p>Expenses</p>
        <div class="expenses-total">
          {{ period.getExpenseTotal() | currency }}
        </div>
      </div>
    </div>
    <div class="summary">
      <span>Final: {{ getFinalAmount(period) }}</span>
    </div>
  </div>
</div>