.accounts {
  background: #ffd966;
  margin-bottom: 20px;
}

.pay-period {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .line-items {
    display: flex;

    .line-item {
      &.incoming {
        background: #b6d7a8;
      }
      &.outgoing {
        background: #ea9999;
      }
    }
  }
}
