<div>
  <table class="expenseTable">
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Due Date</th>
    </tr>
    <tr *ngFor="let expense of expenses">
      <td>{{expense.name}}</td>
      <td>{{expense.value | currency}}</td>
      <td>{{expense.dueDate | date:'shortDate'}}</td>
    </tr>
  </table>
</div>